.uagb-block-945dc477-de7e-4cdf-8766-e3971db12b6e.uagb-section__wrap {padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;margin-right: auto;margin-left: auto;max-width: 100%;}
.uagb-block-945dc477-de7e-4cdf-8766-e3971db12b6e > .uagb-section__video-wrap {opacity: .5;}
.uagb-block-945dc477-de7e-4cdf-8766-e3971db12b6e > .uagb-section__inner-wrap {max-width: 1140px;}
.uagb-block-945dc477-de7e-4cdf-8766-e3971db12b6e.wp-block-uagb-section {box-shadow: 0 0;}
.uagb-block-945dc477-de7e-4cdf-8766-e3971db12b6e > .uagb-section__overlay {background-color: #22c95c;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-icon {height: 200px;width: 200px;line-height: 200px;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-icon > span {font-size: 200px;height: 200px;width: 200px;line-height: 200px;color: #333;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-icon svg {fill: #333;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-infobox__content-wrap .uagb-ifb-imgicon-wrap {margin-left: 5px;margin-right: 10px;margin-top: 5px;margin-bottom: 5px;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-infobox-cta-link {font-size: px;color: #333;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-infobox-cta-link svg {fill: #333;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-button-wrapper .uagb-infobox-cta-link {color: #333;background-color: transparent;border-style: solid;border-color: #333;border-width: 1px;padding-top: 10px;padding-bottom: 10px;padding-left: 14px;padding-right: 14px;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-button-wrapper .uagb-infobox-cta-link svg {fill: #333;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-title-prefix {margin-bottom: 5px;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-title {margin-bottom: 50px;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-desc {font-weight: 400;margin-bottom: 10px;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-separator {width: 30%;border-top-width: 2px;border-top-color: #333;border-top-style: none;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-separator-parent {margin-bottom: 15px;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-align-icon-after {margin-left: 5px;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-align-icon-before {margin-right: 5px;}
.uagb-block-8d785f23-72bc-48c5-957c-a718f8b6b84d .uagb-ifb-image-content > img {width: 120px;max-width: 120px;}
.uagb-block-2d3dc016-f2e4-4fb4-ac82-e4e80656b8f4.uagb-section__wrap {padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;margin-right: auto;margin-left: auto;max-width: 900px;}
.uagb-block-2d3dc016-f2e4-4fb4-ac82-e4e80656b8f4 > .uagb-section__video-wrap {opacity: .5;}
.uagb-block-2d3dc016-f2e4-4fb4-ac82-e4e80656b8f4 > .uagb-section__inner-wrap {max-width: 100%;}
.uagb-block-2d3dc016-f2e4-4fb4-ac82-e4e80656b8f4.wp-block-uagb-section {box-shadow: 0 0;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-icon {height: 40px;width: 40px;line-height: 40px;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-icon > span {font-size: 40px;height: 40px;width: 40px;line-height: 40px;color: #333;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-icon svg {fill: #333;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-infobox__content-wrap .uagb-ifb-imgicon-wrap {margin-left: 5px;margin-right: 10px;margin-top: 5px;margin-bottom: 5px;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-infobox-cta-link {font-size: px;color: #333;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-infobox-cta-link svg {fill: #333;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-button-wrapper .uagb-infobox-cta-link {color: #333;background-color: transparent;border-style: solid;border-color: #333;border-width: 1px;padding-top: 10px;padding-bottom: 10px;padding-left: 14px;padding-right: 14px;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-button-wrapper .uagb-infobox-cta-link svg {fill: #333;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-title-prefix {margin-bottom: 5px;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-title {margin-bottom: 25px;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-desc {margin-bottom: 10px;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-separator {width: 30%;border-top-width: 2px;border-top-color: #333;border-top-style: none;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-separator-parent {margin-bottom: 15px;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-align-icon-after {margin-left: 5px;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-align-icon-before {margin-right: 5px;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-ifb-image-content > img {width: 120px;max-width: 120px;}
.uagb-block-2127f49a-6894-4031-aee3-8a28afcc1e20 .uagb-infobox__content-wrap {text-align: center;}
.uagb-block-a73c9d2d-bf09-44c1-8202-bac203f998f9.uagb-columns__wrap {padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;}
.uagb-block-a73c9d2d-bf09-44c1-8202-bac203f998f9 .uagb-columns__video-wrap {opacity: .5;}
.uagb-block-a73c9d2d-bf09-44c1-8202-bac203f998f9 > .uagb-columns__inner-wrap {max-width: 1469px;}
.uagb-block-a73c9d2d-bf09-44c1-8202-bac203f998f9 .uagb-column__inner-wrap {padding: 10px;}
.uagb-block-a73c9d2d-bf09-44c1-8202-bac203f998f9 .uagb-columns__shape-top .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}
.uagb-block-a73c9d2d-bf09-44c1-8202-bac203f998f9 .uagb-columns__shape-bottom .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}
.uagb-block-a73c9d2d-bf09-44c1-8202-bac203f998f9.wp-block-uagb-columns {box-shadow: 0 0;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-icon {height: 186px;width: 186px;line-height: 186px;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-icon > span {font-size: 186px;height: 186px;width: 186px;line-height: 186px;color: #333;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-icon svg {fill: #333;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-infobox__content-wrap .uagb-ifb-imgicon-wrap {margin-left: 5px;margin-right: 10px;margin-top: 5px;margin-bottom: 5px;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-infobox-cta-link {font-size: px;color: #333;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-infobox-cta-link svg {fill: #333;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-button-wrapper .uagb-infobox-cta-link {color: #333;background-color: transparent;border-style: solid;border-color: #333;border-width: 1px;padding-top: 10px;padding-bottom: 10px;padding-left: 14px;padding-right: 14px;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-button-wrapper .uagb-infobox-cta-link svg {fill: #333;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-title-prefix {margin-bottom: 5px;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-title {margin-bottom: 10px;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-desc {margin-bottom: 10px;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-separator {width: 30%;border-top-width: 2px;border-top-color: #333;border-top-style: none;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-separator-parent {margin-bottom: 15px;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-align-icon-after {margin-left: 5px;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-align-icon-before {margin-right: 5px;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-ifb-image-content > img {width: 120px;max-width: 120px;}
.uagb-block-3e6662c1-0b91-4a06-99d0-dff5acdb44eb .uagb-infobox__content-wrap {text-align: center;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-icon {height: 186px;width: 186px;line-height: 186px;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-icon > span {font-size: 186px;height: 186px;width: 186px;line-height: 186px;color: #333;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-icon svg {fill: #333;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-infobox__content-wrap .uagb-ifb-imgicon-wrap {margin-left: 5px;margin-right: 10px;margin-top: 5px;margin-bottom: 5px;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-infobox-cta-link {font-size: px;color: #333;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-infobox-cta-link svg {fill: #333;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-button-wrapper .uagb-infobox-cta-link {color: #333;background-color: transparent;border-style: solid;border-color: #333;border-width: 1px;padding-top: 10px;padding-bottom: 10px;padding-left: 14px;padding-right: 14px;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-button-wrapper .uagb-infobox-cta-link svg {fill: #333;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-title-prefix {margin-bottom: 5px;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-title {margin-bottom: 10px;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-desc {margin-bottom: 10px;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-separator {width: 30%;border-top-width: 2px;border-top-color: #333;border-top-style: none;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-separator-parent {margin-bottom: 15px;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-align-icon-after {margin-left: 5px;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-align-icon-before {margin-right: 5px;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-ifb-image-content > img {width: 120px;max-width: 120px;}
.uagb-block-6f989073-8f96-402d-b913-5dbc23d765d1 .uagb-infobox__content-wrap {text-align: center;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-icon {height: 186px;width: 186px;line-height: 186px;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-icon > span {font-size: 186px;height: 186px;width: 186px;line-height: 186px;color: #333;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-icon svg {fill: #333;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-infobox__content-wrap .uagb-ifb-imgicon-wrap {margin-left: 5px;margin-right: 10px;margin-top: 5px;margin-bottom: 5px;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-infobox-cta-link {font-size: px;color: #333;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-infobox-cta-link svg {fill: #333;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-button-wrapper .uagb-infobox-cta-link {color: #333;background-color: transparent;border-style: solid;border-color: #333;border-width: 1px;padding-top: 10px;padding-bottom: 10px;padding-left: 14px;padding-right: 14px;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-button-wrapper .uagb-infobox-cta-link svg {fill: #333;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-title-prefix {margin-bottom: 5px;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-title {margin-bottom: 10px;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-desc {margin-bottom: 10px;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-separator {width: 30%;border-top-width: 2px;border-top-color: #333;border-top-style: solid;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-separator-parent {margin-bottom: 15px;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-align-icon-after {margin-left: 5px;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-align-icon-before {margin-right: 5px;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-ifb-image-content > img {width: 120px;max-width: 120px;}
.uagb-block-31f39e79-1b4c-4f31-b164-84658e592740 .uagb-infobox__content-wrap {text-align: center;}